$mainColor: #4a76a8;
$mainHoverColor: #039ddd;

$postLinkColor: #555;
$borderColor: #e2e9f9;
$postHoverColor: #f5f8fa;

$brandTextColor: #2e3745;
$grayText: #727d8d;
$textDarkColor: #1e3557;
$blueColor: #327ae5;
$blueDarkColor: #175dc4;
$shadowColor: #c3cad5;
$iconColor: #b4c1d3;
$iconColorHover: #9197a3;
$postTextColor: #0b1a31;
$successColor: #32e56d;
$redColor: #e73553;
$greenColor: #63d797;

//repetit
$verifiedColor: #327ae5;
$mainHover: #6bbeed;
$mainActive: rgba(61,150,229, .6);
$subTextColor: #777;