@media (max-width: 768px) {
	.panel-science {
		&__header {
			padding: 0 10px 0 10px;
		}
		&__body {
			padding: 15px 15px;
			.science-board {
				position: relative;
				&__header {
					margin-bottom: 15px;
					.line{
						button{
							padding: 6px 0;
							width: 32px;
							text-align: center;
							&:first-child{
								margin-right: 8px;
							}
							i{
								margin-right: 0;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
	.science-menu{
		justify-content: space-between;
		li{
			a {
				padding: 8px 7px;
				text-align: center;
				font-size: 11px;
				i {
					display: block;
					font-size: 16px;
					margin-right: 0;
				}
			}
			&:nth-child(3){
				margin-left: 0;
			}
			&.active {
				&:before {
					border-color: transparent;
					border-bottom-color: #6bbeed;
					border-width: 6px;
					margin-left: -7px;
				}
				&:after {
					border-color: transparent;
					border-bottom-color: white;
					border-width: 5px;
					margin-left: -6px;
					bottom: -1px;
				}
			}
		}
	}
	.science-post-inner{
		padding: 0;
		.breadcrumbs{
			margin-bottom: 10px;
		}
		&__header{
			display: flex;
			flex-direction: column;
			padding-right: 0;
			margin-bottom: 15px;
			img {
				display: none;
			}
			.title{
				font-size: 18px;
				font-weight: 500;
				max-width: none;
				margin-bottom: 5px;
			}
			.course-price {
				text-align: center;
				margin-left: 0;
				.price{
					display: inline-block;
					margin-bottom: 0;
					margin-right: 10px;
				}
				.price-per-hour{
					margin-bottom: 0;
					display: inline-block;
				}
				.start-date{
					display: none;
				}
			}
		}
		&__body{
			.pseudo-table{
				margin-left: -15px;
				margin-right: -15px;
				&-row{
					.row-inner{
						padding: 10px 15px 10px 15px;
						.title{
							position: static;
							max-width: none;
							margin-right: 7px;
						}
					}
				}
			}
		}
	}
	.science-test{
		padding: 15px;
		&__header{
			margin-bottom: 15px;
			.title{
				font-size: 18px;
			}
		}
		&__body{
			.custom-table {
				margin-left: -15px;
				margin-right: -15px;
				.custom-table-row{
					padding: 0 10px;
				}
				.custom-table-cell {
					padding: 10px 5px;
					&:first-child {
						display: none;
					}
					&:nth-child(2) {
						overflow: hidden;
					}
					&:nth-child(3) {
						display: none;
					}
					&:nth-child(4) {
						flex: 0 0 105px;
						text-align: center;
					}
					a{
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						width: 100%;
						display: block;
					}
					.start-date{
						font-weight: 500;
						font-size: 12px;
						margin-right: 10px;
					}
					.start-time{
						font-size: 12px;
					}
				}
			}
		}
	}
}