.channel-mini-card
    .channel-edit
        i.fa.fa-edit.icon-grey(data-target="#EditChannelModal" data-toggle="modal")
    a(href="javascript:void(0)").avatar-circle_xxl
        img(src="./assets/img/default-avatar.png")
    .name-category
        .channel-name
            a(href="javascript:void(0)") Название канала
        .channel-category
            span Категория
        a(href="javascript:void(0)").channel-link Выйти