.settings-image
    .panel.panel-white
        .settings-image__background
        .settings-image__avatar
            img(src="./assets/img/default-avatar.png" alt="")
        .settings-image__name Константин Калиновский