.settings-footer
    ul.settings-footer__list
        li.settings-footer__item
            a(href="javascript:void(0)") О нас
        li.settings-footer__item
            a(href="javascript:void(0)") Блог
        li.settings-footer__item.dropdown
            a(href="javascript:void(0);" data-toggle="dropdown").dropdown-toggle Еще
                i.far.fa-angle-down
            ul.dropdown-menu.dropdown-menu-right
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Политика
                li
                    a(href="javascript:void(0)") Условия
        li.settings-footer__item.dropdown
            a(href="javascript:void(0);" data-toggle="dropdown").dropdown-toggle Язык
                i.far.fa-angle-down
            ul.dropdown-menu.dropdown-menu-right
                li
                    a(href="javascript:void(0)") Русский
                li
                    a(href="javascript:void(0)") English
    .powered-by
        span Авторские права © 2018 LinkForPeople. Все права защищены.