.user-post-date
    a(href="javascript:void(0)").post-time 1 день назад
    span.dropdown.pointer
        .dropdown-toggle(data-toggle="dropdown").icon-grey
            i.fa.fa-globe-asia
            span.caret
        ul.dropdown-menu
            li
                a(href='javascript:void:0')
                    i.fa.fa-lock
                    | Только мне
            li
                a(href='javascript:void:0')
                    i.fa.fa-globe-asia
                    | Все
            li
                a(href='javascript:void:0')
                    i.fa.fa-user
                    | На кого я подписан
            li
                a(href='javascript:void:0')
                    i.fa.fa-users
                    | Кто у меня в друзьях