.user-mini-card
    a(href="javascript:void(0)").avatar-circle_xxl
        img(src="./assets/img/default-avatar.png")
    .who-when
        .user-name
            a(href="javascript:void(0)") Константин Калиновский
        .user-post-date
            include ../partials/user-post-date
        a(href="javascript:void(0)").user-unblock Разблокировать