@media (max-width: $screen-sm-max) {
  /** Не обрезать ячейки в таблицах **/
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > thead > tr > th {
    white-space: nowrap;
  }

  /** Всегда отображать scroll у таблиц */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
  }
}

@media (max-width: 768px) {
  .page--top-app .user-navigation {
    top: 88px;
  }

  .page--top-app .content-container {
    padding-top: 88px;
  }

  .page--top-app .navbar-fixed-top {
    top: 45px;
  }
}