@media (max-width: $screen-sm-max) {
  .header-container{

    &__brand{
      margin-right: 0;
    }

    &__menu{
      display: flex;
      margin: 0;
      & > li{
        height: 45px;
        & > a{
          line-height: 25px;
        }
      }
    }

    &__nav{
      box-shadow: none;
    }

    .navbar-header{
      display: inline-block;
      margin: 0 !important;
    }

    .desktop-logo{
      display: none;
    }

    .mobile-logo{
      display: block;
    }

    .navbar-nav{
      margin-bottom: 0;
    }

    .navbar-nav .open .dropdown-menu{
      background-color: #fff;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      position: absolute;
    }
  }
  #header-chat-toggle{
    display: none;
  }
  #header-chat-mobile{
    display: block;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}