@media (max-width: $screen-sm-max) {
	.header-repetit {
		&.header-container {
			&__brand {
				padding-top: 0;
			}

			&__menu {
				.organization-schedule {
					display: none;
				}
			}

			.container-1160 {
				padding: 0;
			}
		}
		.header-brand {
			&__desc {
				display: none;
			}
		}
		.user-phone {
			a {
				padding-right: 8px !important;
				padding-left: 8px !important;
			}
		}
	}
}

@media (max-width: 768px) {
	.header-repetit {
		&.header-container {

			&__brand {
				margin-right: 0;
			}

			.header-container__menu {
				display: flex;
				margin: 0;
				margin-left: auto;
				.organization-phone {
					margin-right: 2px;
					span {
						display: none;
					}
					i {
						margin-right: 0;
					}
				}
			}

			&__nav {
				box-shadow: none;
			}

			.navbar-header {
				display: inline-block;
				margin: 0 !important;
			}

			.desktop-logo {
				display: none;
			}

			.mobile-logo {
				display: block;
			}

			.navbar-nav {
				margin-bottom: 0;
			}

			.navbar-nav .open .dropdown-menu {
				background-color: #fff;
				box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				position: absolute;
			}
			.header-container__avatar {
				.hamburger {
					display: block;
				}
				.user-avatar {
					display: none;
				}
			}
			.hamburger-filter {
				display: block;
			}
		}
		#header-chat-toggle {
			display: none;
		}
		#header-chat-mobile {
			display: block;
		}
	}
}