include modal-image
header.header-container
    .header-container__nav.navbar.navbar-default.navbar-fixed-top
        .nav.container-1000
            .container-fluid
                .navbar-header
                    a(href="/").header-container__brand.brand.header-brand
                        span(style="color:#fff; font-size: 30px; font-family: Patua One").desktop-logo Link
                            span(style="color: #f20505;")  for
                            |  People
                        span(style="color:#fff; font-size: 30px; font-family: Patua One").mobile-logo L
                            span(style="color: #f20505;") f
                            | P

                .header-container__form.hidden-xs
                    form.navbar-form.navbar-left.search(data-toggle="dropdown")#navbar-searchbox
                        .form-group.inner-addon.left-addon
                            i.glyphicon.fa.fa-search.main-color
                            input.form-control.search__input(placeholder="Поиск" type="text")
                    ul.dropdown-menu(style="margin-left:7px;")
                        .search__container
                            .recent-search
                                span.clock-icon
                                    i.fa.fa-clock
                                    | Последние поисковые запросы
                                .clear-search-results
                                    span.pointer(onclick="clearSearchResults();") Очистить
                            ul.search-list
                                li.search-list__item
                                    a(href="javascript:void(0);").link-to-user
                                        .user-avatar-sm.pull-left
                                            img(src="./assets/img/default-avatar.png")
                                        span.user-name Тестовый ползьователь
                                    .user-post-date
                                        span.post-time Был(а) 10 дн. назад
                            li.search__advanced-container
                                a(href="/test/advanced-search.html" data-ajax="javascript:void(0)") Расширенный поиск

                ul.header-container__menu.nav.navbar-nav.navbar-right.pull-right
                    li
                        a(href="/test/profile-main.html" data-ajax="javascript:void(0);").text-shadow-font
                            i.fa.fa-home
                    li
                        a(href="javascript:void(0);" data-ajax="javascript:void(0);").text-shadow-font
                            i.far.fa-newspaper
                    li#header-chat-toggle(onclick="AllChatsToggle(this.id);")
                        a(href="javascript:void(0);" data-ajax="javascript:void(0);" onclick="return false;").text-shadow-font
                            i.fa.fa-comments
                    li#header-chat-mobile
                        a(href="messages.html" data-ajax="javascript:void(0);").text-shadow-font
                            i.fa.fa-comments
                    li.dropdown.notification-container
                        span.new-update-alert.hidden(style="display: none;")
                        a(href="javascript:void(0);" data-ajax="javascript:void(0);" onclick="return false;" data-toggle="dropdown").text-shadow-font.dropdown-toggle
                            i.far.fa-bell
                        ul.dropdown-menu.clearfix.notifications-dropdown.dropdown-menu-right
                            li.turn-off-sound.text-left(onclick="muteNotifications(this.className);")
                                span
                                    i.fa.fa-volume-off.progress-icon
                                    | Включите звук уведомления
                            li#notification-list
                                span.center-text Нет новых уведомлений
                    li.dropdown.header-container__avatar
                        a(href="javascript:void(0);" data-toggle="dropdown").dropdown-toggle.user-avatar-link
                            .user-avatar.pull-left
                                img(src="./assets/img/default-avatar.png")
                            span.caret
                        ul.dropdown-menu.dropdown-menu-right
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 1
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 2
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 3
                            li
                                hr
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 1
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 2
                            li
                                a(href="javascript:void(0)" data-ajax="javascript:void(0)") Пункт меню 3