extends ../layout/layout

block title
    | Ошибка

block content
    .content-container.container
        .content
            .row.profile.page-margin
                include ../partials/player
                include ../partials/player