extends ../layout/layout

block title
    | Реклама

block content
    .content-container.container
        .content
            .row.profile.page-margin
                .panel.panel-white.panel-banner
                    .info
                        h1 Бесплатный образовательный портал № 1
                        .desc
                            span У нас вы найдете преподавателей и курсы по любым направлениям
                    .row.advantages
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/apple.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/book.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/diploma.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/goal.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/megaphone.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                        .col-sm-6
                            .advantages-item
                                .item-img
                                    img(src="./assets/img/banner/puzzle.svg")
                                .item-info
                                    .title Школьное образование
                                    .desc Занятия проходят в группах до 8 человек. Продолжительность одного урока 90 минут.
                    .join
                        a(href="javascript:void(0)" data-target="#SignupModal" data-toggle="modal").btn-invite Зарегистрироваться