extends ../layout/layout

block title
    | Комментарии

block content
    include ../block/chat
    .content-container.container
        .content
            .row.profile.page-margin
                include ../block/user-navigation
                include ../block/user-post-science
                include ../block/user-post-science