extends ../layout/layout

block title
    | Создание/редактирование вопроса

block content
    include ../block/chat
    .content-container.container
        .content
            .row.profile.page-margin
                .panel.panel-white.panel-courses
                    .panel-courses__header
                        include ../block/ce-quest



