extends ../layout/layout

block title
    | Ошибка

block content
    .content-container.container
        .content
            .row.profile.page-margin
                .panel.panel-white.error
                    .error__title
                        i.far.fa-cog
                        h1 Ошибка 404! Страница не найдена
                    .error__text
                        p Что-то пошло не так...