extends ../layout/layout

block title
    | Новости

block content
    include ../block/chat
    .content-container.container
        .content
            .row.profile.page-margin
                include ../block/user-card
                include ../block/user-navigation

                .panel.panel-white.panel-friends
                    .panel-friends__header
                        ul.friends-menu
                            li.active
                                a(href="#myFriends" data-toggle='tab')
                                    i.fa.fa-user-check
                                    | Мои друзья
                            li
                                a(href="#friendshipOffer" data-toggle='tab')
                                    i.fa.fa-user-edit
                                    | Запросы в друзья
                            li
                                a(href="#myFriendReq" data-toggle='tab')
                                    i.fa.fa-user-plus
                                    | Мои заявки в друзья
                        a(href="javascript:void(0)").btn-invite.hidden-xs
                            i.fa.fa-plus-circle
                            | Найти друзей
                        a(href="javascript:void(0)").btn-circle.hidden-lg.hidden-md.hidden-sm
                            i.fa.fa-plus
                    .panel-friends__body
                        .tab-content
                            .tab-pane.fade.in.active#myFriends
                                .friends-list.list-empty
                                    .list-empty__title
                                        i.far.fa-cog
                                        span.text Текст для отображения
                            .tab-pane.fade#friendshipOffer
                                .friends-list.list-empty
                                    .list-empty__title
                                        i.far.fa-cog
                                        span.text Текст для отображения
                            .tab-pane.fade#myFriendReq
                                .friends-list.list-empty
                                    .list-empty__title
                                        i.far.fa-cog
                                        span.text Текст для отображения