doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")

    block title
        | Все страницы

    block content
        ul
            li
                a(href="profile-main.html" target="_blank") Профиль - основная
            li
                a(href="profile-account.html" target="_blank") Профиль - аккаунт
            li
                a(href="profile-settings-main.html" target="_blank") Настройки - основные
            li
                a(href="profile-settings-about.html" target="_blank") Настройки - Профиль
            li
                a(href="profile-settings-conf.html" target="_blank") Настройки - конфиденциальность
            li
                a(href="profile-settings-educator.html" target="_blank") Настройки - Стать преподавателем
            li
                a(href="profile-settings-password.html" target="_blank") Настройки - Пароль
            li
                a(href="profile-settings-socials.html" target="_blank") Настройки - Социальные сссылки
            li
                a(href="profile-settings-avatar.html" target="_blank") Настройки - Аватар и обложка
            li
                a(href="profile-settings-block.html" target="_blank") Настройки - Заблокированные пользователи
            li
                a(href="article.html" target="_blank") Статья
            li
                a(href="advanced-search.html" target="_blank") Расширенный поиск
            li
                a(href="news.html" target="_blank") Новости
            li
                a(href="support.html" target="_blank") Техническая поддержка
            li
                a(href="error.html" target="_blank") Ошибка
            li
                a(href="friends.html" target="_blank") Друзья
            li
                a(href="media.html" target="_blank") Медиа
            li
                a(href="science.html" target="_blank") Наука
            li
                a(href="channel.html" target="_blank") Каналы
            li
                a(href="repetit.html" target="_blank") Репетиторы
            li
                a(href="repetit-request.html" target="_blank") Заявки
            li
                a(href="register.html" target="_blank") Регистрация
            li
                a(href="friends-empty.html" target="_blank") Друзья (пустые)
            li
                a(href="media-empty.html" target="_blank") Медиа (пустые)
            li
                a(href="profile-interest.html" target="_blank") Интересное
            li
                a(href="courses.html" target="_blank") Курсы (наука)
            li
                a(href="courses-created.html" target="_blank") Курсы (созданные курсы)
            li
                a(href="courses-schedule-create.html" target="_blank") Курсы (созданные курсы - создание расписания)
            li
                a(href="courses-check-subject.html" target="_blank") Курсы (проверить тесты - предмет)
            li
                a(href="courses-create-lesson.html" target="_blank") Создать урок
            li
                a(href="courses-create-question.html" target="_blank") Создать вопрос
            li
                a(href="courses-create-answer.html" target="_blank") Заполнить ответы
            li
                a(href="courses-view-test.html" target="_blank") Просмотр теста
            li
                a(href="courses-test-question.html" target="_blank") Прохождение теста
            li
                a(href="courses-lesson.html" target="_blank") Урок
            li
                a(href="courses-list.html" target="_blank") Список курсов (название раздела)
            li
                a(href="banner.html" target="_blank") Лама
            li
                a(href="banner-2.html" target="_blank") Реклама
            li
                a(href="courses-check-test.html" target="_blank") Курсы (проверить тесты)
            li
                a(href="courses-check-table-test.html" target="_blank") Курсы (тесты таблицы)
            li
                a(href="search-new.html" target="_blank") Поиск (новый)
            li
                a(href="search-new-educator.html" target="_blank") Поиск преподы(новый)
            li
                a(href="news-new.html" target="_blank") Новости (новыe)
            li
                a(href="comments.html" target="_blank") Комментарии
            li
                a(href="search-courses.html" target="_blank") Поиск курсов
            li
                a(href="search-teachers.html" target="_blank") Поиск преподователей
            li
                a(href="general-info.html" target="_blank") Общие сведения
            li
                a(href="all-courses.html" target="_blank") Все курсы
            li
                a(href="course.html" target="_blank") Курс
            li
                a(href="lesson--q&a.html" target="_blank") Урок - Вопросы и ответы
            li
                a(href="lesson--q&a-inner.html" target="_blank") Урок - Вопросы и ответы - Внутри
            li
                a(href="lesson--lecture.html" target="_blank") Урок - Лекции
            li
                a(href="lesson--ads.html" target="_blank") Урок - Объявления
            li
                a(href="lesson--test.html" target="_blank") Урок - Тест
            li
                a(href="create-edit-question.html" target="_blank") Создание/редактирование вопроса