extends ../layout/layout

block title
    | Новости (новые)

block content
    include ../block/chat
    .content-container.container
        .content
            .row.profile.page-margin
                include ../block/news-header
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news
                include ../block/user-post-news