extends ../layout/layout-repetit

block title
    | Заявки

block content
    .content-container.content-container_1160
        .content
            .page.page_full
                .repetit-request.panel.panel-white
                    include ../block/repetit-request
                    include ../block/repetit-request