@media (max-width: 768px) {
  .user-navigation {
    top: 40px;
    margin-bottom: 15px;
    &__filter{
      padding-left: 10px;
      padding-right: 10px;
      .filter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 5px;
        i {
          margin-bottom: 3px;
          margin-right: 0;
        }

        span{
          @include rem(font-size, 10px);
        }
      }
    }
  }
}