.panel.panel-white.account
    .account__common
        ul.common-list
            li.common-list__item
                p.text
                    span.title Был(а):
                    a(href="javascript:void(0);") Онлайн
            li.common-list__item
                p.text
                    span.title Пол:
                    | Мужской
            li.common-list__item
                p.text
                    span.title Дата рождения:
                    | 12 июля 1987
            li.common-list__item
                p.text
                    span.title Расположение:
                    | Москва
    .account__type
        ul.type-list
            li.type-list__item
                p.text.user-type
                    span.title Пользователь:
                    | Преподаватель
                    i.far.fa-check.light-blue
            li.type-list__item
                p.text
                    span.title Предмет:
                    | Математика
            li.type-list__item
                p.text
                    span.title Учащиеся:
                    | Школьники 9-11
            li.type-list__item
                p.text.two-lines
                    span.title Опыт преподавания:
                    | 12 лет
        .price-container
            .lesson-price
                .lesson-price__item
                    p.cost
                        span 600 руб
                        |  / час
                    p.type Индивидуально
                .lesson-price__item
                    p.cost
                        span 600 руб
                        |  / час
                    p.type Групповое
    .account__about
        ul.about-list
            li.about-list__item
                p.text
                    span.title О себе:
                    span.about-self Но предприниматели в сети интернет функционально разнесены на независимые элементы. С другой стороны, начало повседневной работы по формированию позиции позволяет выполнить важные задания по разработке глубокомысленных рассуждений. Имеется спорная точка зрения, гласящая примерно следующее: стремящиеся нанотехнологии освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ассоциативно распределены по отраслям.
            li.about-list__item
                p.text
                    span.title Образование:
                    | Высшее, МГУ им. М.В. Ломоносова, филологический факультет
            li.about-list__item
                .text.images
                    span.title Документы о стаже:
                    .doc-images
                        .doc-images__item
                            img(src="./pictures/diploma.jpg")
                        .doc-images__item
                            img(src="./pictures/diploma2.jpg")