.ce-quest
    ul.breadcrumbs.ce-quest__breadcrumbs
        li.breadcrumbs__item
            a(href="javascript:void(0);") Курсы
        li.breadcrumbs__item
            a(href="javascript:void(0);") Математика 1 класс
        li.breadcrumbs__item
            a(href="javascript:void(0);") Создание/редактирование вопроса
    .ce-quest__title Создание/редактирование вопроса
    a.ce-quest__btn.btn-blue(href="", title="Создать/Редактировать", data-target="#ceQuest", data-toggle="modal") Создать/Редактировать
    a.ce-quest__btn.btn-blue(href="", title="Ученики курса", data-target="#courseStudents", data-toggle="modal", onclick="courseStudentsOpen();") Ученики курса