.course-lessons
    .course-lessons__title Уроки курса
    table.course-lessons__table
        thead.course-lessons__thead
            tr.course-lessons__tr
                th.course-lessons__th №
                th.course-lessons__th Название
                th.course-lessons__th Время
                th.course-lessons__th Тест
        tbody.course-lessons__tbody
            tr.course-lessons__tr
                td.course-lessons__td 1
                td.course-lessons__td
                    .course-lessons__table-title-wrap
                        a.course-lessons__table-title(href="", title="") Основные свойства простейших фигур. Геометрия 7-9 класс
                        .course-lessons__table-title-time 2 часа
                        .course-lessons__table-date-wrap
                            .course-lessons__table-date 04.12.2019
                            .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    .course-lessons__table-date-wrap
                        .course-lessons__table-date 04.12.2019
                        .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    a.btn-invite.course-lessons__create-btn(href="#", title="создать тест")
                        i.fal.fa-plus-circle.course-lessons__create-btn-icon
                        .course-lessons__create-btn-create Создать
                        .course-lessons__create-btn-text тест
            tr.course-lessons__tr
                td.course-lessons__td 2
                td.course-lessons__td
                    .course-lessons__table-title-wrap
                        a.course-lessons__table-title(href="", title="") Основные свойства простейших фигур. Триугольники. Геометрия 7-9
                        .course-lessons__table-title-time 2 часа
                        .course-lessons__table-date-wrap
                            .course-lessons__table-date 04.12.2019
                            .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    .course-lessons__table-date-wrap
                        .course-lessons__table-date 04.12.2019
                        .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    a.btn-invite.course-lessons__create-btn(href="#", title="создать тест")
                        i.fal.fa-plus-circle.course-lessons__create-btn-icon
                        .course-lessons__create-btn-create Создать
                        .course-lessons__create-btn-text тест
            tr.course-lessons__tr
                td.course-lessons__td 3
                td.course-lessons__td
                    .course-lessons__table-title-wrap
                        a.course-lessons__table-title(href="", title="") Основные свойства простейших фигур. Геометрия 7-9 класс
                        .course-lessons__table-title-time 2 часа
                        .course-lessons__table-date-wrap
                            .course-lessons__table-date 04.12.2019
                            .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    .course-lessons__table-date-wrap
                        .course-lessons__table-date 04.12.2019
                        .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    a.btn-invite.course-lessons__create-btn(href="#", title="создать тест")
                        i.fal.fa-plus-circle.course-lessons__create-btn-icon
                        .course-lessons__create-btn-create Создать
                        .course-lessons__create-btn-text тест
            tr.course-lessons__tr
                td.course-lessons__td 4
                td.course-lessons__td
                    .course-lessons__table-title-wrap
                        a.course-lessons__table-title(href="", title="") Основные свойства простейших фигур. Триугольники. Равностороний триугольникГеометрия 7-9 класс
                        .course-lessons__table-title-time 2 часа
                        .course-lessons__table-date-wrap
                            .course-lessons__table-date 04.12.2019
                            .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    .course-lessons__table-date-wrap
                        .course-lessons__table-date 04.12.2019
                        .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    a.btn-invite.course-lessons__create-btn(href="#", title="создать тест")
                        i.fal.fa-plus-circle.course-lessons__create-btn-icon
                        .course-lessons__create-btn-create Создать
                        .course-lessons__create-btn-text тест
            tr.course-lessons__tr.course-lessons__tr--final
                td.course-lessons__td
                td.course-lessons__td
                    .course-lessons__table-title-wrap
                        a.course-lessons__table-title(href="", title="") Финальный тест
                td.course-lessons__td
                    .course-lessons__table-date-wrap
                        .course-lessons__table-date 04.12.2019
                        .course-lessons__table-date-time 11:30 - 14:00
                td.course-lessons__td
                    a.btn-invite.course-lessons__create-btn(href="#", title="создать тест")
                        i.fal.fa-plus-circle.course-lessons__create-btn-icon
                        .course-lessons__create-btn-create Создать
                        .course-lessons__create-btn-text тест
