.course.bg-anim
    .course__wrap
        .course__wrap-inner
            .course__img(style="background-image: url(assets/img/course.jpg)")
            .course__body
                .course__info
                    .course__title Тестирование, Автоматизация REST API: Postman + GIT
                    .course__time-wrap
                        .course__time-lectures 16 лекций
                        .course__time-hourse 3 часа
                        .course__time-level.tooltips
                            span Все уровни
                            .course__time-level-drop.tooltips__drop Целью квалификации педагогических кадров совершенствование
                        .course__time-share
                            i.far.fa-share-alt.course__time-share-icon
                    .course__desc Закончим осмотр на слотах расширения, 16-битных ISA. Процессор 80386 был выпущен
                    .course__author-wrap Автор: #[a.course__author(href="") Валентина Колесникова]
                .course__price
                    .course__price-new #[span 799] руб.
                    .course__price-old #[span 2 799] руб.
                    .course__type Самостоятельный
                    .rating.rating--nonactive.course__rating
                        label.rating__item
                            input.rating__input(type="radio", name="rating1", value="1")
                            .rating__stars
                                i.fas.fa-star.rating__icon.rating__icon--full
                                i.far.fa-star.rating__icon.rating__icon--empty
                        label.rating__item
                            input.rating__input(type="radio", name="rating1", value="2")
                            .rating__stars
                                i.fas.fa-star.rating__icon.rating__icon--full
                                i.far.fa-star.rating__icon.rating__icon--empty
                        label.rating__item
                            input.rating__input(type="radio", name="rating1", value="3", checked)
                            .rating__stars
                                i.fas.fa-star.rating__icon.rating__icon--full
                                i.far.fa-star.rating__icon.rating__icon--empty
                        label.rating__item
                            input.rating__input(type="radio", name="rating1", value="4")
                            .rating__stars
                                i.fas.fa-star.rating__icon.rating__icon--full
                                i.far.fa-star.rating__icon.rating__icon--empty
                        label.rating__item
                            input.rating__input(type="radio", name="rating1", value="5")
                            .rating__stars
                                i.fas.fa-star.rating__icon.rating__icon--full
                                i.far.fa-star.rating__icon.rating__icon--empty
                        .rating__val 4
                    .course__rating-val (50 оценок)
                    a.course__open-btn.btn-invite(href="#") Открыть