.general-info
  .general-info__table-wrap
    table.general-info__table
      tr.general-info__tr
        td.general-info__td ФИО
        td.general-info__td
          a.general-info__link(href="") Константин Калиновский
      tr.general-info__tr
        td.general-info__td Был(а) в сети
        td.general-info__td
          a.general-info__link(href="") Онлайн
      tr.general-info__tr
        td.general-info__td Пол
        td.general-info__td Мужской
      tr.general-info__tr
        td.general-info__td Дата рождения 
        td.general-info__td 17.03.1987
      tr.general-info__tr
        td.general-info__td Местоположение
        td.general-info__td Москва
      tr.general-info__tr
        td.general-info__td Семейное положение 
        td.general-info__td Женат
      tr.general-info__tr
        td.general-info__td Сайт
        td.general-info__td
          a.general-info__link(href="") http://teacher.ru
      tr.general-info__tr
        td.general-info__td О себе
        td.general-info__td
          .user-post#post17
            .user-post__content
              .post-article.wrapper
                  span.show-more.pointer(onclick='showMoreText(post17); return false;')
                    i.fal.fa-angle-down
                  .post-article__body
                    .post-text
                      p Тьютор.Передаю опыт Учения.Сопрвождаю изучение предметов.Поддерживаю процесс самообразования.Полученное в МГУ фундаментальное советское  образование (Красный диплом) плюс непреодолимое  желание саморазвития и постижения нового, умноженное на нешуточный опыт, дают мне возможность проводить занятия по математике, физике,русскому и английскому языкам,а также помогать в выполнении домашних заданий по химии,географии,истории, литературе и Мировой культуре.Провожу занятия как со школьниками,так и со взрослыми.

  .general-info__table-wrap
    table.general-info__table
      tr.general-info__tr
        td.general-info__td Школа
        td.general-info__td г. Москва, Средняя школа № 4
      tr.general-info__tr
        td.general-info__td Университет
        td.general-info__td МГИМО
      tr.general-info__tr
        td.general-info__td Специальность
        td.general-info__td Преподаватель старших классов
      tr.general-info__tr
        td.general-info__td Ученая степень
        td.general-info__td Кандидат наук
      tr.general-info__tr
        td.general-info__td Доп. образование
        td.general-info__td Кандидат наук
      tr.general-info__tr
        td.general-info__td Курсы
        td.general-info__td Кандидат наук
      tr.general-info__tr
        td.general-info__td Место работы
        td.general-info__td г. Москва, Средняя школа №4

  .general-info__table-wrap
    table.general-info__table
      tr.general-info__tr
        td.general-info__td Пользователь
        td.general-info__td
          a.general-info__link(href="") Преподаватель
          .teacher__price.general-info__price
            .teacher__price-individual
              .teacher__price-val
                span.teacher__price-val-money 580
                |  руб. 
                span.teacher__price-val-time /час
              .teacher__price-type Индивидуально
            .teacher__price-group
              .teacher__price-val
                span.teacher__price-val-money 380
                |  руб. 
                span.teacher__price-val-time /час
              .teacher__price-type В мини группе
      tr.general-info__tr
        td.general-info__td Направление
        td.general-info__td.general-info__td--pdright Подготовка к ЕГЭ
      tr.general-info__tr
        td.general-info__td Учащиеся
        td.general-info__td Школьники старших классов
      tr.general-info__tr
        td.general-info__td Формат занятий
        td.general-info__td Занятия онлайн
      tr.general-info__tr
        td.general-info__td Стаж
        td.general-info__td 8 лет
      tr.general-info__tr
        td.general-info__td Документы о стаже
        td.general-info__td
          .general-info__certificate-wrap#post309
            .general-info__certificate(onclick="showLightBox(post309, 0);")
              .general-info__certificate-overlay
              i.fal.fa-search-plus.general-info__certificate-plus-icon
              .general-info__certificate-href(data-slide-to="0" data-href="./assets/img/backscreen.jpg")
                .general-info__certificate-preview(style="background-image: url(./assets/img/backscreen.jpg);")
            .general-info__certificate(onclick="showLightBox(post309, 1);")
              .general-info__certificate-overlay
              i.fal.fa-search-plus.general-info__certificate-plus-icon
              .general-info__certificate-href(data-slide-to="1" data-href="./assets/img/certificate.jpg")
                .general-info__certificate-preview(style="background-image: url(./assets/img/certificate.jpg);")
            .general-info__certificate(onclick="showLightBox(post309, 1);")
              .general-info__certificate-overlay
              i.fal.fa-search-plus.general-info__certificate-plus-icon
              .general-info__certificate-href(data-slide-to="1" data-href="./assets/img/certificate.jpg")
                .general-info__certificate-preview(style="background-image: url(./assets/img/certificate.jpg);")
      tr.general-info__tr
        td.general-info__td Об обучении
        td.general-info__td
          .user-post#post18
            .user-post__content
              .post-article.wrapper
                  span.show-more.pointer(onclick='showMoreText(post18); return false;')
                    i.fal.fa-angle-down
                  .post-article__body
                    .post-text
                      p Занимаюсь подготовкой учеников 8-11 классов к сдаче экзаменов (ОГЭ и ЕГЭ) по математике и информатике.

