.lesson-qa
    .lesson-qa__filters-header
        a.btn-invite.lesson-qa__ask-q-btn(href="#", title="Задать вопрос", data-target="#askQuest", data-toggle="modal")
            i.far.fa-comment-alt-lines
            | Задать вопрос
        .lesson-qa__filters-toggle
            i.fas.fa-sliders-h
    .lesson-qa__filters
        select.lesson-qa__select
            option Все лекции
            option Текущая лекция
        select.lesson-qa__select
            option Сортировать по новым
            option Сортировать по времени
        select.lesson-qa__select
            option Фильтровать вопросы
            option Фильтровать вопросы 2
    .lesson-qa__list-wrap.comments
        .lesson-qa__list-title-wrap
            .lesson-qa__list-title Список вопросов
            a.btn-invite.lesson-qa__ask-q-btn(href="#", title="Задать вопрос", data-target="#askQuest", data-toggle="modal")
                i.far.fa-comment-alt-lines
                | Задать вопрос
        .comments__list.lesson-qa__list
            a.comments__item.lesson-qa__comment(href="#", title="")
                .comments__inner
                    img.comments__avatar(src="assets/img/default-avatar.png", alt="avatar")
                    .comments__body
                        .comments__body-top
                            .comments__user Валерий Миронов
                            .comments__lecture лекция 1
                            .comments__date 2 часа назад
                        .comments__text-wrap
                            strong.comments__text-title Долго ли учиться программированию? 
                            p.comments__text А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование?
                    .comments__val-messages-wrap
                        .comments__val-messages.comments__val-messages--empty.pointer #[i.fal.fa-comment.comments__val-messages-icon]
                        .comments__val-messages.comments__val-messages--full.pointer #[i.fas.fa-comment.comments__val-messages-icon]
                        .comments__val-messages-val 0
            a.comments__item.lesson-qa__comment(href="#", title="")
                .comments__inner
                    img.comments__avatar(src="assets/img/default-avatar.png", alt="avatar")
                    .comments__body
                        .comments__body-top
                            .comments__user Валерий Миронов
                            .comments__lecture лекция 1
                            .comments__date 2 часа назад
                        .comments__text-wrap
                            strong.comments__text-title Долго ли учиться программированию? 
                            p.comments__text А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование?
                    .comments__val-messages-wrap.comments__val-messages-wrap--full
                        .comments__val-messages.comments__val-messages--empty.pointer #[i.fal.fa-comment.comments__val-messages-icon]
                        .comments__val-messages.comments__val-messages--full.pointer #[i.fas.fa-comment.comments__val-messages-icon]
                        .comments__val-messages-val 2
            a.comments__item.lesson-qa__comment(href="#", title="")
                .comments__inner
                    img.comments__avatar(src="assets/img/default-avatar.png", alt="avatar")
                    .comments__body
                        .comments__body-top
                            .comments__user Валерий Миронов
                            .comments__lecture лекция 1
                            .comments__date 2 часа назад
                        .comments__text-wrap
                            strong.comments__text-title Долго ли учиться программированию? 
                            p.comments__text А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование?
                    .comments__val-messages-wrap
                        .comments__val-messages.comments__val-messages--empty.pointer #[i.fal.fa-comment.comments__val-messages-icon]
                        .comments__val-messages.comments__val-messages--full.pointer #[i.fas.fa-comment.comments__val-messages-icon]
                        .comments__val-messages-val 0
            a.comments__item.lesson-qa__comment(href="#", title="")
                .comments__inner
                    img.comments__avatar(src="assets/img/default-avatar.png", alt="avatar")
                    .comments__body
                        .comments__body-top
                            .comments__user Валерий Миронов
                            .comments__lecture лекция 1
                            .comments__date 2 часа назад
                        .comments__text-wrap
                            strong.comments__text-title Долго ли учиться программированию? 
                            p.comments__text А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование?
                    .comments__val-messages-wrap
                        .comments__val-messages.comments__val-messages--empty.pointer #[i.fal.fa-comment.comments__val-messages-icon]
                        .comments__val-messages.comments__val-messages--full.pointer #[i.fas.fa-comment.comments__val-messages-icon]
                        .comments__val-messages-val 0