.lesson-test
    .lesson-test__table.lesson-test__table--info
        .lesson-test__tr
            .lesson-test__td Название
            .lesson-test__td Основные свойства простейших фигур
        .lesson-test__tr
            .lesson-test__td Описание
            .lesson-test__td Решать нестандартные задачи, делать математические фокусы, в игровой форме узнавать о закономерностях и правилах математики, работать в группах и индивидуально, учиться видеть математику в окружающем мире.
        .lesson-test__tr
            .lesson-test__td Кол-во вопросов
            .lesson-test__td 2
        .lesson-test__tr
            .lesson-test__td Осталось попыток
            .lesson-test__td 7 из 10

    .lesson-test__best
        a.btn-invite.lesson-test__best-btn(href="", title="пройти тест")
            i.far.fa-question-circle.lesson-test__best-btn-icon
            | пройти тест
        .lesson-test__best-text Будет выбран лучший результат

    .lesson-test__table.lesson-test__table--results
        .lesson-test__tr
            .lesson-test__td №
            .lesson-test__td Результат выполнения
            .lesson-test__td Время выполнения
            .lesson-test__td
        .lesson-test__tr
            .lesson-test__td 1
            .lesson-test__td
                ul.lesson-test__list
                    li.lesson-test__list-item Ожидают проверки преподавателем: 0
                    li.lesson-test__list-item Верных ответов: #[span.lesson-test__list-color.lesson-test__list-color--right 1]
                    li.lesson-test__list-item Неверных ответов: #[span.lesson-test__list-color.lesson-test__list-color--wrong 1]
            .lesson-test__td
                .lesson-test__time 11:30
                .lesson-test__date 05.12.2019
            .lesson-test__td
                a.btn-invite.lesson-test__table-btn(href="#", title="открыть") открыть
        .lesson-test__tr
            .lesson-test__td 2
            .lesson-test__td
                ul.lesson-test__list
                    li.lesson-test__list-item Ожидают проверки преподавателем: 0
                    li.lesson-test__list-item Верных ответов: #[span.lesson-test__list-color.lesson-test__list-color--right 4]
                    li.lesson-test__list-item Неверных ответов: #[span.lesson-test__list-color.lesson-test__list-color--wrong 0]
            .lesson-test__td
                .lesson-test__time 11:30
                .lesson-test__date 05.12.2019
            .lesson-test__td
                a.btn-invite.lesson-test__table-btn(href="#", title="открыть") открыть
        .lesson-test__tr
            .lesson-test__td 3
            .lesson-test__td
                ul.lesson-test__list
                    li.lesson-test__list-item Ожидают проверки преподавателем: 3
                    li.lesson-test__list-item Верных ответов: #[span.lesson-test__list-color.lesson-test__list-color--right 0]
                    li.lesson-test__list-item Неверных ответов: #[span.lesson-test__list-color.lesson-test__list-color--wrong 0]
            .lesson-test__td
                .lesson-test__time 11:30
                .lesson-test__date 05.12.2019
            .lesson-test__td
                a.btn-invite.lesson-test__table-btn(href="#", title="открыть") открыть

