.lesson-lecture
    .lesson-lecture__header
        ul.lesson-lecture__tabs-nav
            li.lesson-lecture__tabs-nav-item.active
                a.lesson-lecture__tabs-nav-btn(href="#lectureText", title="Tекст лекции", data-toggle="tab") Tекст лекции
            li.lesson-lecture__tabs-nav-item
                a.lesson-lecture__tabs-nav-btn(href="#lectureVideo", title="Видео лекции", data-toggle="tab") Видео лекции
            li.lesson-lecture__tabs-nav-item
                a.lesson-lecture__tabs-nav-btn(href="#lectureVideo", title="Видео лекции", data-toggle="tab") Видео лекции
        a.btn-invite.lesson-lecture__dwnl-mat(href="#", title="скачать материал")
            i.far.fa-arrow-to-bottom.lesson-lecture__dwnl-mat-icon
            span скачать материал
        a.btn-invite.lesson-lecture__dwnl-mat(href="#", title="редактировать")
            i.far.fa-edit.lesson-lecture__dwnl-mat-icon
            span редактировать

    .lesson-lecture__tabs-content
        .lesson-lecture__tabs-content-item.fade.in.active#lectureText
            .lesson-lecture__title Основные свойства простых фигур
            p.lesson-lecture__text Геометрические фигуры могут быть весьма разнообразны. Часть любой геометрической фигуры является геометрической фигурой. Объединение нескольких геометрических фигур есть снова геометрическая фигура. На рис. 2 фигура слева составлена из треугольника и трех квадратов, а фигура справа состоит из окружности и частей окружности. Всякую геометрическую фигуру мы представляем себе составленной из точек.
            figure.lesson-lecture__img-wrap
                img.lesson-lecture__img(src="assets/img/lesson-lecture__img.jpg", alt="")
                figcaption.lesson-lecture__img-desc Рис.1
            p.lesson-lecture__text Геометрические фигуры могут быть весьма разнообразны. Часть любой геометрической фигуры является геометрической фигурой. Объединение нескольких геометрических фигур есть снова геометрическая фигура. На рис. 2 фигура слева составлена из треугольника и трех квадратов, а фигура справа состоит из окружности и частей окружности. Всякую геометрическую фигуру мы представляем себе составленной из точек.
            ul.lesson-lecture__list
                li.lesson-lecture__list-item
                    span.lesson-lecture__list-item-num 1.
                    span.lesson-lecture__list-item-text Какова бы ни была прямая, существуют точки, принадлежащие прямой, и точки, не принадлежащие прямой.
                li.lesson-lecture__list-item
                    span.lesson-lecture__list-item-num 2.
                    span.lesson-lecture__list-item-text Каковы бы ни были две точки, существует и притом только одна прямая, проходящая через эти точки.
            p.lesson-lecture__text Прямую можно обозначать двумя точками, лежащими на ней. Например, прямую а на рис. 4 можно обозначить АС, а прямую b можно обозначить ВС. Основные свойства взаимного расположения точек на прямой и на плоскости. Посмотрите на рис. 6. Вы видите прямую а и три точки на этой прямой: А, В, С. Точка В лежит между точками A и С. Точки A и С лежат по разные стороны от точки В. Точки A и С разделяются точкой В. Точки А и В лежат по одну сторону от точки С. Точки В и С лежат по одну сторону от точки Л.
            p.lesson-lecture__text Для измерения отрезков применяются различные измерительные инструменты. Простейшим инструментом является линейка с делениями на ней. На рис. 9 отрезок АВ равен 10 см, отрезок АС равен 6 см, отрезок ВС равен 4 см. Длина отрезка АВ равна сумме длин отрезков АС и ВС.

            .lesson-lecture__title Основные свойства простых фигур
            p.lesson-lecture__text Геометрические фигуры могут быть весьма разнообразны. Часть любой геометрической фигуры является геометрической фигурой. Объединение нескольких геометрических фигур есть снова геометрическая фигура. На рис. 2 фигура слева составлена из треугольника и трех квадратов, а фигура справа состоит из окружности и частей окружности. Всякую геометрическую фигуру мы представляем себе составленной из точек.
            ul.lesson-lecture__list
                li.lesson-lecture__list-item
                    span.lesson-lecture__list-item-circle
                    span.lesson-lecture__list-item-text Какова бы ни была прямая, существуют точки, принадлежащие
                li.lesson-lecture__list-item
                    span.lesson-lecture__list-item-circle
                    span.lesson-lecture__list-item-text Какова бы ни была прямая, существуют точки, принадлежащие
            p.lesson-lecture__text Прямую можно обозначать двумя точками, лежащими на ней. Например, прямую а на рис. 4 можно обозначить АС, а прямую b можно обозначить ВС. Основные свойства взаимного расположения точек на прямой и на плоскости. Посмотрите на рис. 6. Вы видите прямую а и три точки на этой прямой: А, В, С. Точка В лежит между точками A и С. Точки A и С лежат по разные стороны от точки В. 
            i.lesson-lecture__text Для измерения отрезков применяются различные измерительные инструменты. Простейшим инструментом является линейка с делениями на ней.
            .lesson-lecture__author Никольский. “Основы Геометрии”


        .lesson-lecture__tabs-content-item.fade#lectureVideo
            iframe.lesson-lecture__video(src="https://www.youtube.com/embed/N1FTnhiRYfY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            p.lesson-lecture__text Геометрические фигуры могут быть весьма разнообразны. Часть любой геометрической фигуры является геометрической фигурой. Объединение нескольких геометрических фигур есть снова геометрическая фигура. На рис. 2 фигура слева составлена из треугольника и трех квадратов, а фигура справа состоит из окружности и частей окружности. Всякую геометрическую фигуру мы представляем себе составленной из точек.