.lesson-header
    ul.breadcrumbs.lesson-header__breadcrumbs
        li.breadcrumbs__item
            a(href="javascript:void(0);") Курсы
        li.breadcrumbs__item
            a(href="javascript:void(0);") Основные свойства простейших фигур. Геометрия 7-9 класс. Урок 2
    .lesson-header__center
        .lesson-header__nav
            a.btn-white.lesson-header__nav-btn.lesson-header__nav-btn--hidden(href="#", title="урок 1")
                i.far.fa-arrow-circle-left.lesson-header__nav-btn-icon
                span урок 1
            .lesson-header__nav-title Урок 2
            a.btn-white.lesson-header__nav-btn(href="#", title="урок 3")
                span урок 3
                i.far.fa-arrow-circle-right.lesson-header__nav-btn-icon
        p.lesson-header__desc Основные свойства пройстейших фигур. Триугольки. Геометрия 7-9 класс.
    ul.courses-menu.courses-menu--all.lesson-header__menu
        li
            a(href="#lessonLecture" data-toggle='tab')
                i.far.fa-arrow-circle-right.courses-menu__icon
                | Лекция
        li.active
            a(href="#lessonQA" data-toggle='tab')
                i.far.fa-arrow-circle-right.courses-menu__icon
                | Вопросы и ответы
        li
            a(href="#lessonTest" data-toggle='tab')
                i.far.fa-arrow-circle-right.courses-menu__icon
                | Тест
        li
            a(href="#lessonBookmarks" data-toggle='tab')
                i.far.fa-arrow-circle-right.courses-menu__icon
                | Закладки
        li
            a(href="#lessonAds" data-toggle='tab')
                i.far.fa-arrow-circle-right.courses-menu__icon
                | Объявления