//
   Created by asus on 22.07.2018.

.contacts-chat.mobile-chat.chat
    .chat__header
        ul.chat__navigation
            li.active
                a(href="javascript:void(0)" data-target="#chat-contacts" data-toggle="tab") Контакты
            li
                a(href="javascript:void(0)" data-target="#chat-group" data-toggle="tab") Чаты

    .chat__body
        .tab-content
            .tab-pane.fade.in.active#chat-contacts
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                a(href="message-view.html").chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
            .tab-pane.fade.in#chat-group
                .chat__item.add-new-chat.clearfix
                    a(href="javascript:void(0)" data-target="#CreateChatModal" data-toggle="modal")
                        i.fa.fa-users
                        span Создать новый чат
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад
                .chat__item.pointer.clearfix
                    .user-avatar.pull-left
                        img(src="./assets/img/default-avatar.png")
                    .user-name Тестовый Пользователь
                    .last-activity Был(а): 10 часов назад