.news-header.animateIn
  .panel.panel-white.news-header__panel.bline
    a.news-header__item.bline__item.bline__item--active(href="")
      i.far.fa-comment.news-header__item-icon
      .news-header__item-title Популярные новости
    a.news-header__item.bline__item(href="")
      i.far.fa-comment.news-header__item-icon
      .news-header__item-title Мои новости