.panel-courses__slider-wrap
    .panel-courses__title HTML and CSS - responsive layout and layout
    .swiper-container.panel-courses__slider(data-slides-per-view="3.15" data-autoplay="false" data-loop="false" data-space-between="14")
        .swiper-wrapper
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
            a.swiper-slide(href="", title="")
                .panel-courses__slider-bg-img(style="background-image: url(assets/img/allcoursesimg.jpg)")
                .panel-courses__slider-info
                    .panel-courses__slider-info-top
                        .panel-courses__slider-info-title HTML, CSS, JS Basics: Free Introductor Course
                        .panel-courses__slider-info-top-right
                            .rating.rating--nonactive.panel-courses__slider-info-rating
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="1")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="2")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="3", checked)
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="4")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                                label.rating__item
                                    input.rating__input(type="radio", name="rating1", value="5")
                                    .rating__stars
                                        i.fas.fa-star.rating__icon.rating__icon--full
                                        i.far.fa-star.rating__icon.rating__icon--empty
                            .panel-courses__slider-info-views
                                i.fas.fa-eye.panel-courses__slider-info-views-icon
                                .panel-courses__slider-info-views-val 3 456
                    .panel-courses__slider-info-bottom
                        .panel-courses__slider-info-author Андрей Мельников
                        .panel-courses__slider-info-price 15 000 руб
        .swiper-button-prev
            i.far.fa-chevron-left
        .swiper-button-next
            i.far.fa-chevron-right