.panel-courses__slider-wrap.panel-courses__slider-wrap--feedback
    .panel-courses__title Отзывы 123
    .swiper-container.panel-courses__slider(data-slides-per-view="3.15" data-autoplay="false" data-loop="false" data-space-between="14" data-slide-shadows="true")
        .swiper-wrapper
            a.swiper-slide.panel-courses__slide.panel-courses__slide--main(href="#", title="")
                .panel-courses__left-side
                    .panel-courses__feedback-val 4.8
                    include ../block/rating--nonactive
                    .panel-courses__feedback-title Рейтинг курса
                ul.panel-courses__right-side
                    li.panel-courses__right-side-item
                        include ../block/rating--nonactive-with-val-noauto
                        include ../block/rating--nonactive-with-val-noauto
                        include ../block/rating--nonactive-with-val-noauto
                        include ../block/rating--nonactive-with-val-noauto
                        include ../block/rating--nonactive-with-val-noauto
            a.swiper-slide.panel-courses__slide.panel-courses__slide--item(href="#", title="")
                .panel-courses__feedback-top
                    .panel-courses__feedback-author Anton Voitenko
                    .panel-courses__feedback-date 2 days ago
                    include ../block/rating--nonactive
                .panel-courses__feedback-text Then I tried an excellent online school, now I have a vacation and have a moment to share my impressions. I am mastering. tried an excellent online school.
            a.swiper-slide.panel-courses__slide.panel-courses__slide--item(href="#", title="")
                .panel-courses__feedback-top
                    .panel-courses__feedback-author Anton Voitenko
                    .panel-courses__feedback-date 2 days ago
                    include ../block/rating--nonactive
                .panel-courses__feedback-text Then I tried an excellent online school, now I have a vacation and have a moment to share my impressions. I am mastering. tried an excellent online school.
            a.swiper-slide.panel-courses__slide.panel-courses__slide--item(href="#", title="")
                .panel-courses__feedback-top
                    .panel-courses__feedback-author Anton Voitenko
                    .panel-courses__feedback-date 2 days ago
                    include ../block/rating--nonactive
                .panel-courses__feedback-text Then I tried an excellent online school, now I have a vacation and have a moment to share my impressions. I am mastering. tried an excellent online school.
            a.swiper-slide.panel-courses__slide.panel-courses__slide--item(href="#", title="")
                .panel-courses__feedback-top
                    .panel-courses__feedback-author Anton Voitenko
                    .panel-courses__feedback-date 2 days ago
                    include ../block/rating--nonactive
                .panel-courses__feedback-text Then I tried an excellent online school, now I have a vacation and have a moment to share my impressions. I am mastering. tried an excellent online school.

        .swiper-button-prev
            i.far.fa-chevron-left
        .swiper-button-next
            i.far.fa-chevron-right