.panel.panel-white.post.post-panel
    form#publisher-box-form.publisher-box.post
        #post-textarea.publisher-box__header(data-target="#ceQuest" data-toggle="modal")
            .avatar-circle_md
                img(src="./assets/img/default-avatar.png" alt="")
            textarea.publisher.postText(name="postText" cols="10" rows="3" placeholder="Что у Вас нового? #Хэштегом..." dir="auto" autocomplete="off" style="height:45px;" data-emojiable="true")
            