.rating.rating--nonactive
    label.rating__item
        input.rating__input(type="radio", name="rating1", value="1")
        .rating__stars
            i.fas.fa-star.rating__icon.rating__icon--full
            i.far.fa-star.rating__icon.rating__icon--empty
    label.rating__item
        input.rating__input(type="radio", name="rating1", value="2")
        .rating__stars
            i.fas.fa-star.rating__icon.rating__icon--full
            i.far.fa-star.rating__icon.rating__icon--empty
    label.rating__item
        input.rating__input(type="radio", name="rating1", value="3", checked)
        .rating__stars
            i.fas.fa-star.rating__icon.rating__icon--full
            i.far.fa-star.rating__icon.rating__icon--empty
    label.rating__item
        input.rating__input(type="radio", name="rating1", value="4")
        .rating__stars
            i.fas.fa-star.rating__icon.rating__icon--full
            i.far.fa-star.rating__icon.rating__icon--empty
    label.rating__item
        input.rating__input(type="radio", name="rating1", value="5")
        .rating__stars
            i.fas.fa-star.rating__icon.rating__icon--full
            i.far.fa-star.rating__icon.rating__icon--empty
    .rating__val 4