.request-item
    .custom-table
        .custom-table-row.custom-table-thead
            .custom-table-cell
                a(href="javascript:void(0)").user-name Алексей Романов
            .custom-table-cell 21.12.2018
            .custom-table-cell Цена: 800-900 руб/ч
            .custom-table-cell
                a(href="javascript:void(0)").btn-invite Связаться
        .custom-table-row
            .custom-table-cell Предмет: Математика
            .custom-table-cell
                span
                    i.fa.fa-user.icon-margin
                    | Онлайн (индивидуально)
        .custom-table-row
            .custom-table-cell.custom-table-cell--full
                span.show-more.pointer(onclick="showMoreBlock(this);")
                    i.fa.fa-angle-down
                p.text.blur-js Требуется репетитор по математике Знаки препинания в простом осложненном предложении (однородные члены предложения) и в сложносочиненном предложении Знаки препинания в простом осложненном предложении (однородные члены предложения) и в сложносочиненном предложении Знаки препинания в простом осложненном предложении (однородные члены предложения) и в сложносочиненном предложении предложении Знаки препинания в простом осложненном предложении Знаки препинания в простом осложненном предложении Знаки препинания в простом осложненном предложения) и в сложносочиненном предложении Знаки препинания в простом осложненном предложении (однородные члены предложения) и в сложносочиненном предложении предложении Знаки препинания в пр