.resume-item.panel.panel-white.clearfix#resume32
    .resume-item__header
        .person-container
            .educator-avatar
                img(src="./assets/img/default-avatar.png")
            .wrapper
                .educator-name
                    a(href="javascript:void(0);")
                        span Петр Петров
                    i.fa.fa-check-circle.verified-color.white-tooltip(data-toggle="tooltip" data-placement="bottom" title="Проверенный пользователь")
                p.educator-subject Репетитор по математике
                p.educator-exp
                    span.title Стаж:
                    |  15 лет
        .price-container
            .lesson-price
                .lesson-price__item
                    p.cost
                        span 600 руб
                        |  / час <br>Индивидуально
                .lesson-price__item
                    p.cost
                        span 600 руб
                        |  / час <br>Групповое

    .resume-item__actions.educator__actions
        a.btn-blue(href="javascript:void(0)") Связаться
        a.btn-blue(href="javascript:void(0)") Курсы
        a.btn-blue(href="javascript:void(0)") Расписание

    .resume-item__body
        ul.additional-list
            li.additional-list__item.show-more-block-js
                p.educator-education.text
                    span.title Образование:
                    | МГТУ
            li.additional-list__item.show-more-block-js
                .educator-info.text
                    p.educator-about
                        span.title О себе:
                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            li.additional-list__item
                .educator__documents.text
                    span.title.title_no-float Документы:
                    .doc-images
                        .doc-images__item
                            img(src="./pictures/diploma.jpg")
                        .doc-images__item
                            img(src="./pictures/diploma2.jpg")

            li.additional-list__item.show-more-block-js
                .educator__shares.text
                    span.title Акция:
                    .share
                        span.share__item  Скидка на все занятия 10%;
                        span.share__item  Скидка на все занятия 10%;
                        span.share__item  Скидка на все занятия 10%;

        .educator__tags
            .tags-subject
                span.title
                    i.fa.fa-book
                span.tags-subject__item ЕГЭ
                span.tags-subject__item ОГЭ
                span.tags-subject__item Математика
                span.tags-subject__item Геометрия
                span.tags-subject__item Алгебра
                span.tags-subject__item Математика
                span.tags-subject__item Геометрия
                span.tags-subject__item Алгебра
            .tags-audit
                span.title
                    i.fa.fa-users
                span.tags-audit__item Школьники
    .resume-item__footer
        .actions
            .pointer.like-icon.icon-blue
                i.fal.fa-thumbs-up
                span 10
            .pointer.dislike-icon.icon-blue
                i.fal.fa-thumbs-down
                span 1
            .pointer.comment-icon.icon-blue(onclick="toggleComments(event);")
                i.far.fa-comment
                span 1
            pointer.share-icon.icon-blue(onclick="toggleShares(event);")
                i.far.fa-share-alt
    .share-container.hide
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,qzone,viber,whatsapp,skype,telegram"></div>
    .user-post__comment.comments-container.hide
        .load-comments-container
            span.pointer.load-comments(onclick="loadComments(post17);") Показать все комментарии
                i.fal.fa-angle-down.show-more
            i.fa.fa-spinner.animated-spin.hide
        .user-post__comment-list.comment-list
            .comment-list__item#comment13
                a(href="javascript:void(0)").avatar-circle_lg
                    img(src="./assets/img/default-avatar.png")

                .comment-list__item-body.clearfix
                    .user-name
                        a(href="javascript:void(0)") Константин Калиновский
                    .pull-right
                        span.post-time.hidden-sm.hidden-md.hidden-lg 1д. назад
                    p.text А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование? А вы хотите, чтобы ваш ребенок освоил интересную и, главное, полезную профессию - программирование?
                    .bottoms
                        span.post-time 1 день назад
                        a(href="javascript:void(0)").btn-white Ответить
                    textarea.comment-list__item-edit.form-control(placeholder="Редактировать комментарий").hide
                    textarea.comment-list__item-reply.form-control(placeholder="Ответить на комментарий").hide
        form.input-icon(onclick="openCommentBottom(this);")
            textarea.form-control.comment-textarea(placeholder="Напишите комментарий и нажмите клавишу ВВОД" rows="1" data-emojiable="true")
            .avatar-circle_lg
                img(src="./assets/img/default-avatar.png")
            .input-icon__list.hide
                .left-icons
                    li.input-icon__item.pointer.icon-grey
                        //smile there
                    li.input-icon__item.pointer.icon-grey
                        i.fal.fa-camera-alt
                        input(type="file")
                    li.input-icon__item.pointer.icon-grey
                        i.far.fa-film
                        input(type="file")
                    li.input-icon__item.pointer.icon-grey
                        i.fas.fa-music
                        input(type="file")
                    li.input-icon__item.pointer.icon-grey
                        i.far.fa-file
                        input(type="file")
                .right-btn
                    button(type="submit").btn-blue Отправить