.banner.swiper-container(data-slides-per-view='3' data-auto-resize="false")
    .swiper-wrapper
        a(href="javascript:void(0)").banner__item.banner__item_bg.swiper-slide
            .background(style="background-image: url('./assets/img/banner-bg.jpg')")
            p.title Онлайн курс
            span.text "Подготовка к ЕГЭ по математике" с преподавателями МГУ
        a(href="javascript:void(0)").banner__item.banner__item_bg.swiper-slide
            .background(style="background-image: url('./assets/img/banner-bg.jpg')")
            p.title Онлайн курс
            span.text "Подготовка к ЕГЭ по математике" с преподавателями МГУ
        a(href="javascript:void(0)").banner__item.banner__item_bg.swiper-slide
            .background(style="background-image: url('./assets/img/banner-bg.jpg')")
            p.title Онлайн курс
            span.text "Подготовка к ЕГЭ по математике" с преподавателями МГУ