.search-results_profile-item.col-md-6
    a(href="javascript:void(0);").link-to-user
        .user-avatar-md.pull-left
            img(src="./assets/img/default-avatar.png")
        span.user-name Тестовый ползьователь
    .user-post-date
        span.post-time Был(а) 10 дн. назад
    .user-follow-button
        button(type="button").btn.btn-default.btn-follow
            span.icon-margin
                i.fa.fa-plus
                | Добавить в друзья