.search-results_audio-item.col-md-12
    ul.audio-list
        li.audio-item
            a(href="javascript:void(0)") audio-file.mp3
        li.audio-item
            a(href="javascript:void(0)") audio-file.mp3
        li.audio-item
            a(href="javascript:void(0)") audio-file.mp3