.search-results_channel-item.col-md-6
    a(href="javascript:void(0);").link-to-user
        .user-avatar-md.pull-left
            img(src="./assets/img/default-avatar.png")
        span.user-name Тестовая группа
    .user-post-date
        span.user-count члены: 5
    .user-follow-button
        button(type="button").btn.btn-follow.btn-subscribe Подписаться