.settings-menu
    .panel.panel-white
        .title.hidden-lg.hidden-md
            h4 Настройки
            span.settings-menu-close.pointer
                i.fa.fa-times
        ul.settings-menu__list
            li.settings-menu__item
                a(href="javascript:void(0)") Основные
            li.settings-menu__item
                a(href="javascript:void(0)") Профиль
            li.settings-menu__item
                a(href="javascript:void(0)") Стать преподавателем
            li.settings-menu__item.active
                a(href="javascript:void(0)") Конфиденциальность
            li.settings-menu__item
                a(href="javascript:void(0)") Социальные ссылки
            li.settings-menu__item
                a(href="javascript:void(0)") Аватар и обложка
            li.settings-menu__item
                a(href="javascript:void(0)") Заблокированные пользователи
            li.settings-menu__item
                a(href="javascript:void(0)" onclick="notify('danger', 'Настройки успешно изменены')") Показать уведомление
            li.settings-menu__item
                a(href="javascript:void(0)") Удалить аккаунт