.panel.panel-white.panel-settings
    .panel-settings__header
        h2.title Социальные ссылки
        .menu-icon.pointer
            i.fas.fa-th
    .panel-settings__body
        form.form
            .form-group.form-group_flex
                label Facebook
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label Твиттер
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label Google+
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label Вконтакте
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label Linkedin
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label Instagram
                .input-wrapper
                    input(type="text" value="")
            .form-group.form-group_flex
                label YouTube
                .input-wrapper
                    input(type="text" value="")
        .panel-settings__footer
            button(type="submit").btn-blue--lg Сохранить