.panel.panel-white.panel-settings
    .panel-settings__header
        h2.title Заблокированные пользователи
        .menu-icon.pointer
            i.fas.fa-th
    .panel-settings__body
        .user-block-list
            include ../partials/user-mini-card
            include ../partials/user-mini-card
            include ../partials/user-mini-card
            include ../partials/user-mini-card
        //.panel-settings__footer
        //    button(type="submit").btn-blue--lg Сохранить