.panel.panel-white.panel-settings
    .panel-settings__header
        h2.title Изменить пароль
        .menu-icon.pointer
            i.fas.fa-th
    .panel-settings__body
        form.form
            .form-group.form-group_flex
                label Текущиий пароль
                .input-wrapper
                    input(type="password")
            .form-group.form-group_flex
                label Новый пароль
                .input-wrapper
                    input(type="password")
            .form-group.form-group_flex
                label Повторите пароль
                .input-wrapper
                    input(type="password")
        .panel-settings__footer
            button(type="submit").btn-blue--lg Сохранить