.panel.panel-white.panel-settings
    .panel-settings__header
        h2.title  Настройки конфиденциальности
        .menu-icon.pointer
            i.fas.fa-th
    .panel-settings__body
        form.form
            .form-group.form-group_flex
                label Кто может следовать за мной?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
            .form-group.form-group_flex
                label Кто может отправлять мне сообщения?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
            .form-group.form-group_flex
                label Кто может видеть список моих друзей?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
                        option Кто у меня в друзьях
                        option Никто
            .form-group.form-group_flex
                label Кто может публиковать на моей стене?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
                        option Кто у меня в друзьях
                        option Никто
            .form-group.form-group_flex
                label Кто может видеть мой день рождения?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
                        option Кто у меня в друзьях
                        option Никто
            .form-group.form-group_flex
                label Подтверждать запрос когда кто-то добавляет вас в друзья?
                .input-wrapper.input-wrapper-select
                    select
                        option Все
                        option На кого я подписан
                        option Кто у меня в друзьях
                        option Никто
            .form-group.form-group_flex
                label Отправлять пользователям уведомления, когда я посещаю их профили?
                .input-wrapper.input-wrapper-select
                    select
                        option Да
                        option Нет
                    .input-prompt Если отключить это уведомление, вы не будете получать уведомления о том кто посещал ваш профиль.
            .form-group.form-group_flex
                label Показывать мой последний визит?
                .input-wrapper.input-wrapper-select
                    select
                        option Да
                        option Нет
                    .input-prompt Если отключить это уведомление, вы не сможете видеть последнее подключение других пользователей.
            .form-group.form-group_flex
                label Показывать мою деятельность?
                .input-wrapper.input-wrapper-select
                    select
                        option Да
                        option Нет
            .form-group.form-group_flex
                label Состояние
                .input-wrapper.input-wrapper-select
                    select
                        option Онлайн
                        option Оффлайн
            .form-group.form-group_flex
                label Поделиться местоположеним?
                .input-wrapper.input-wrapper-select
                    select
                        option Да
                        option Нет
        .panel-settings__footer
            button(type="submit").btn-blue--lg Сохранить