.teacher.bg-anim
  .teacher__wrap
    .teacher__wrap-inner
      .teacher__img-wrap
        .teacher__img(style="background-image: url(assets/img/default-avatar.png)")
        .teacher__rating
          i.fas.fa-graduation-cap.teacher__rating-icon
          | 4.8
      .teacher__info
        .teacher__name-wrap
          .teacher__name Константин Калиновский
          i.fas.fa-check-circle.teacher__name-icon
        .teacher__place-teaching Московский Государственный Технический Университет им.Н.Э.Баумана
        .teacher__experience
          | Опыт преподавания: 
          span 5 лет
        .teacher__desc Закончим осмотр на слотах расширения, 16-битных ISA. Процессор 80386 был выпущен
        i.far.fa-share-alt.teacher__share
      .teacher__price
        .teacher__price-individual
          .teacher__price-val
            span.teacher__price-val-money 580
            |  руб. 
            span.teacher__price-val-time /час
          .teacher__price-type Индивидуально
        .teacher__price-group
          .teacher__price-val
            span.teacher__price-val-money 380
            |  руб. 
            span.teacher__price-val-time /час
          .teacher__price-type В мини группе
        .teacher__price-btns
          a.teacher__btn.teacher__btn--chat.btn-invite(href='')
            i.fal.fa-comment.teacher__btn-icon
            span Чат
          a.teacher__btn.teacher__btn--profile.btn-invite(href='')
            i.fal.fa-user.teacher__btn-icon
            span Профиль