.top-app
  ul.top-app__list
    li.top-app__list-item
      a.top-app__link(href="", title="")
        img.top-app__img(src="assets/img/appstore.png", alt="")
    li.top-app__list-item
      a.top-app__link(href="", title="")
        img.top-app__img(src="assets/img/googleplay.png", alt="")

  .top-app__close(onclick="topAppClose();")
    i.fal.fa-times-circle.top-app__close-icon