.user-post.user-post_interest
    .panel.panel-white.post-panel
        .user-post__content.user-post__content-interest
            .interest-user.swiper.swiper--interest
                span.title Популярные пользователи
                .swiper-container(data-slides-per-view="8" data-watch-overflow="true" data-autoplay="false" data-loop="false")
                    .swiper-wrapper
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                        .swiper-slide
                            include ../partials/user-interest-card
                    .swiper-pagination
            .interest-channel.swiper.swiper--interest
                span.title Популярные каналы
                .swiper-container(data-slides-per-view="8" data-watch-overflow="true" data-autoplay="false" data-loop="false")
                    .swiper-wrapper
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                        .swiper-slide
                            include ../partials/channel-interest-card
                    .swiper-pagination