.user-navigation.user-navigation-js
    .filter-container.user-navigation__filter
        .user-navigation__avatar.avatar-circle_sm
            img(src="./assets/img/default-avatar.png" alt="")
        a(href='javascript:void(0)').filter
            i.fa.fa-bars
            span.user-navigation__filter-text.filter-text Стена
        a(href='javascript:void(0)').filter
            i.fa.fa-graduation-cap
            span.user-navigation__filter-text.filter-text Наука
        a(href='javascript:void(0)').filter
            i.fa.fa-user
            span.user-navigation__filter-text.filter-text Друзья
        a(href='javascript:void(0)').filter
            i.fa.fa-film
            span.user-navigation__filter-text.filter-text Медиа
        a(href="javascript:void(0)").filter
            i.fa.fa-users
            span.user-navigation__filter-text.filter-text Каналы