<div class="user-card user-card-js">
    <div class="user-card__screen">
        <img src="./assets/img/backscreen.jpg" alt="">
    </div>

    <div class="user-card__avatar">
        <a href="javascript:void(0)">
            <img src="./assets/img/default-avatar.png" alt="">
        </a>
    </div>
    <div class="user-card__info">
        <div class="user-card__info__title">
            <a href="javascript:void(0)">User</a>
            <i class="fa fa-check-circle verified-color" data-toggle="tooltip" title="" data-original-title="Проверенный пользователь"></i>
        </div>
    </div>
    <div class="user-card__shadow"></div>
</div>