doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        <link rel="stylesheet" href="./assets/css/libs.min.css">
        <link rel="stylesheet" href="./assets/css/app.min.css">

        title
            block title
    body.body-message
        .message-wrapper
            include ../modules/header_new
            block content
            include ../modules/footer
            script(src="./assets/js/jquery.js")
            script(src="./assets/js/libs.js")
            script(src="./assets/js/app.js")